<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Proyecto final "Creacion de un servidor en la nube" de la asignatura Microprocesadores grupo 6CM1 con el profesor GALICIA GALICIA ROBERTO 
        </p>
        </p>
    <a href="https://github.com/CesarNBR/Proyecto" class="btn btn-primary">Git-Hub</a>
    </div>
</section>