<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero odit perferendis, iste animi laborum nam dolorem odio minima sed aperiam.</p>
    </div>
</section>