<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p calss="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit, harum!</p>
    <hr class="my-4"> 
    <p>Lorem ipsum dolor sit amet.
    </p>
    <a href="https://github.com/CesarNBR" class="btn btn-primary">Git-Hub</a>
</div>

